<script>
    document.addEventListener('DOMContentLoaded', function () {
        const headers = document.querySelectorAll('h2, h3, h4, h5, h6');
        for (const header of headers) {
            const headerText = document.createElement("li");
            headerText.innerHTML = `<a href="/#${header.id}">${header.textContent}</a>`
            document.getElementById("navigation").appendChild(headerText);
        };
    });

        const footer = document.querySelector("#footer");
        var footerHeight = footer.offsetHeight;
        const main = document.querySelector("#mainContainer");
        let newMainHeight = footerHeight * 2;
        main.style.minHeight = `calc(100dvh - ${newMainHeight}px)`;
</script>